.article-content {
    h2 {
        padding-bottom: 10px;
        margin-top: 40px;
        border-inline-start: none;
    }

    h3 {
        border-inline-start: none;
    }
}

.container .right-sidebar {
    order: -1;
    max-width: 20%;
}
.container .left-sidebar {
    max-width: 20%;
    margin-left: 20px;
}

.site-logo {
    object-fit: cover;
}